.spell {
  background-color: #d7b9d5;
  color: white;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  border: 1px solid #dcdcdc;
  text-align: left;
  outline: 1px solid #dcdcdc;
  padding-right: 20px;
  font-size: 18px;
}


.nav {
  color: white;
  cursor: pointer;
  padding: 14px;
  border: none;
  text-align: left;
  outline: none;
  padding-right: 20px;  font-size: 18px;
}


.active, .spell:hover {background-color: #607287;}


.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;}

.source{
  text-align:right;
  font-size:10px;
  color: #5D6D7E;
  padding-bottom:5px;
  font-style: italic;}
  

/* Split the screen in half */
.split {
  height: 100%;
  width: 65%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding: 10px;}

.split3 {
  height: 98%;
  width: 63%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding: 10px;}

.split2 {
  height: 100%;
  width: 35%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 10px;}

.right {
  right: 0;
  background-color: white;}


/*Pem*/
.spell-cantrip{background-color: #d7b9d5;}
.spell-inv{background-color: #ada7c9;}
.spell-ritual{background-color: #90a8c3;}
.spell-spells{background-color: #64a6bd;}
.spell-staff{background-color: #4b7d8f;}
.spell-misc{background-color: #f4cae0;}
.nav-pem {background-color: #5D6D7E; padding-right: 14px; width: 22%;}
.left-pem {
  left: 0;
  background-color: #DCDCDC;}


/*Soj*/
.spell-prep{background-color: #a8dadc;}
.spell-noprep{background-color:#457b9d;}
.spell-class{background-color: #1d3557;}
.nav-soj {background-color: #e63946;padding-right: 10px;width: 22%;}
.left-soj{
  left: 0;
  background-color: #f1faee;}

/*Rowan*/
.spell-row1{background-color: #B6A6CA;}
.spell-row2{background-color:#A09ABC;}
.spell-row3{background-color: #000000;}
.nav-row {background-color: #645382; padding-right: 10px;width: 24%;}
.left-row{
  left: 0;
  background-color: #E1DEE9;}
.right-row {
  right: 0;
  background-color: #433D5C;
  color: white;
  font-family: Helvetica;}
.spell-row1:hover, .spell-row2:hover {background-color: #9a8c98;}


/*Eefah*/
.spell-cantrip{background-color: #ff0054;}
.spell-inv{background-color: #ada7c9;}
.spell-ritual{background-color: #90a8c3;}
.spell-spells{background-color: #64a6bd;}
.spell-staff{background-color: #4b7d8f;}
.spell-misc{background-color: #f4cae0;}
.nav-pem {background-color: #5D6D7E; padding-right: 14px; width: 22%;}
.left-pem {
  left: 0;
  background-color: #DCDCDC;}



/* All Spells */
.pin{background-color: white; padding:3px 10px;}
.pin:after{background-color: black;}
.spell-all{background-color: #022b3a; border: 1px solid #1f7a8c; outline: 0px; position:relative;}
.name{display: none;}
mark.blue {color: #1f7a8c; background-color: #f1f1f1;}
a.all{color:white;pointer-events: none;cursor: default;text-decoration: none;}
.nav-x {background-color: #e63946;padding-right: 10px;width: 48%; text-align:center;}
.left-all{
   left: 0;
   background-color: #1f7a8c;}
.right-all{right:0; background-color:#e1e5f2;}
.righty{text-align:right;}


/* Players list */
.classes{
 background-color:#14213d;
 width: 70%;
 outline: 1px solid black;
 padding: 1px;
 color: #e5e5e5;}
.nav-pyr {background-color: grey; width: 99%;}
.nav-pyr:hover {background-color: #fca311; width: 70%;}
.nav-pyr2 {background-color: #fca311; width: 70%;}
.nav-pyr2:hover {background-color: grey; width: 70%;}
.left-pyr {
  left: 0;
  background-color: black;}
.right-pyr {
  right: 0;
  background-color: #14213d;}
.nav-z {background-color: #5D6D7E; padding-right: 14px; width: 32%;}
.h3h3 {padding-left:10px; font-size: 16pt; font-weight: lighter;}
.link-pyr, .link-pyr:visited {color:#e5e5e5;}



#myInput {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 93%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {}

